    {% for post in site.posts limit:1 %}
      <div id="container">
        <div class="page-nav-top">
          {% if post.previous %}
            <span class="page-nav-item">
              <a rel="prev" href="{{ post.previous.url }}/" 
                  title="View {{ post.previous.title }}"
              >&larr; View previous article</a>
            </span>
          {% endif %}
          {% if post.next %}
            <span class="page-nav-item">
              <a rel="next" href="{{ post.next.url }}/" 
                  title="View {{ post.next.title }}"
              >View next article &rarr;</a>
            </span>
          {% endif %}
        </div> <!-- /.page-nav-top -->


<hr />
