/* Light and Dark Mode Colors */

:root {
  --body-bg: #fefefe;
  --body-color: #222;
  --link-color: #222;
  --link-color-hover: #555;
  --code-bg: #eee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #222;
    --body-color: #eee;
    --link-color: #fff;
    --link-color-hover: #fff;
    --code-bg: #666;

  }
}

/* Site-wide colors and margin resets */

html, body {
    background-color: var(--body-bg);
    color: var(--body-color);
    margin: 0;
    padding: 0;
}

/* Layout */

body > * {
  display: grid;
  grid-template-columns: minmax(25px, auto) minmax(auto, 740px) minmax(25px, auto);
}

nav > * {
    grid-column: 2;
    justify-self: end;
}

article > * {
    grid-column: 2;
}

/* Links */

a {
    color: var(--link-color);
    font-weight: 600;
    text-decoration: none;
}

.byline > a:after {
    content:"\a";
    white-space: pre;
}

a:hover {
    text-decoration: underline;
    color: var(--link-color-hover);
}

/* Header styles */

h1,h2,.byline,nav {
    font-family: source-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0px;
}

h1 {
font-weight: 400;
font-style: normal;
    font-size: 2.5rem;
    line-height: 1.15;
}

h2 {
    font-size: 1.4rem;
    line-height: 1.2;
}
 
/* Element styles */

.byline,nav {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 21px;
    margin-top: 3px;
}

article > p,ol,li,blockquote {    
    font-family: source-serif-pro, Georgia, "Times New Roman", Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.58;
    letter-spacing: -.004em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin-top: 0px;
    margin-bottom: 21px;

}


article > blockquote {  
    grid-column: 2;  
    padding-left: 10px;  
    color: var(--body-color);  
    border-left: 3px solid var(--body-color);  
}

code {
    background-color: var(--code-bg);
    font-weight: 400;
    padding: 1px;
    border-radius: 4px;
    padding: 1-px;
}

/*   Home page listing */

.archive > * {
    grid-column: 2;
}

.abstract {
    font-family: source-serif-pro, sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0px 0px 20px 0px;
}

.archive h2 {
    font-weight: 300;
    font-stretch: normal;
    margin-bottom: 2px;
}


.published_date {
    font-weight: 400;
    font-family: source-sans-pro, sans-serif;

}


