a,
a:visited {
  color: #09c;
}
a:hover {
  color: #0cf;
}
a i {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  filter: invert(41%) sepia(88%) saturate(2865%) hue-rotate(168deg)
    brightness(97%) contrast(101%);
  height: 1.2em;
  margin: 0 0.2em 0.15em 0;
  vertical-align: middle;
  width: 1.2em;
}
a:hover i {
  filter: invert(57%) sepia(56%) saturate(2182%) hue-rotate(154deg)
    brightness(104%) contrast(105%);
}
a#instagram i {
  background-image: url(/greg/images/instagram.svg);
}
a#linkedin i {
  background-image: url(/greg/images/linkedin.svg);
}
a#twitter i {
  background-image: url(/greg/images/twitter.svg);
  margin-right: 0.15em;
}
article {
  margin: 0 auto;
  width: 800px;
}
body {
  color: #555;
  font-family: freight-text-pro, Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 1.45em;
  margin: 0;
  padding: 0;
}
.byline {
  font-style: italic;
}
footer {
  margin: 0 auto 2em auto;
  width: 800px;
}
h1 {
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1em;
  margin: 0 0 0.5em 0;
}
h2 {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
  margin-top: -0.15em;
}
h3 {
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 2em;
}
header {
  border-top: 20px solid #09c;
  padding: 1.1em 0 1em;
}
nav {
  margin: 0 auto;
  width: 800px;
}
nav ul {
  display: flex;
  font-family: source-sans-pro, Arial, sans-serif;
  font-size: 0.8em;
  font-weight: 200;
  line-height: 1.2em;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  flex-grow: 0;
  margin: 0 0 0 0.3em;
  padding: 0;
}
nav ul li:first-child {
  flex-grow: 1;
  font-size: 1.625em;
  margin: 0;
}
nav ul li:last-child {
  border-left: 1px solid #999;
  padding-left: 0.3em;
}
nav ul li a,
nav ul li a:visited {
  color: #555;
}
nav ul li a:hover {
  color: #09c;
}
nav ul li:first-child a,
nav ul li:first-child a:visited {
  text-decoration: none;
}
section.comments {
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  left: 50%;
  margin: 1.5em -50vw 1.3em -50vw;
  max-width: none;
  padding-bottom: 1em;
  padding-top: 0em;
  position: relative;
  right: 50%;
  width: 100vw;
}
section.comments section {
  width: 800px;
  margin: auto;
}
section.comments p {
  text-align: center;
  font-style: italic;
  margin-top: 2em;
}
section.comments section h3:first-of-type {
  margin-top: 1.5em;
}
section.comments section p {
  text-align: left;
  font-style: normal;
  margin-top: auto;
}
ul#post-archives {
  list-style: none;
  padding-left: 0;
}
ul#digest-archives {
  list-style: none;
  padding-left: 0;
  column-count: 4;
  column-width: 7em;
}
@media (max-width: 1024px) {
  article,
  footer,
  nav,
  section.comments section {
    width: calc(100% - 6em);
    padding-left: 3em;
    padding-right: 3em;
    margin: auto;
  }
}
@media (max-width: 415px) {
  article,
  footer,
  nav,
  section.comments section {
    width: calc(100% - 2em);
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    margin-top: 0;
  }
}
