<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129508-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-129508-1');
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} by Jeffrey Veen</title>
    <link rel="stylesheet" href="{{ site.url }}/jeff/css/style_10feb2020.css" type="text/css" media="screen">
    <link rel="stylesheet" href="https://use.typekit.net/hke3ona.css">
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/rss-source.xml" title="Atom Feed">
  </head>
  <body>

    <nav>
        <p>A website by <a href="{{site.url}}/jeff">Jeffrey Veen</a></p>
    </nav>

		{{ content }}

  </body>
</html>
